.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   box-shadow: rgba(0,0,0,0.15) 0px 1px 2px;
   background-color: #4255AC;
   color: white;
}

.logo {
   font-size: 24px;
}